@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

$color1: #f6bfa6;
$color2: #15110f;
body {
    background-color: $color1 !important;
    color: $color2;
    visibility: hidden
}
.AppMain {
    @include u1.block_display();

    .TopBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 15px;

        &__icon {
            width: 40px;
            height: 40px;
        }
        &__hd {
            font-size: u1.rem(27);
            font-weight: 800;
        }
    }

    .hero-section {
        width: 100%;

        & > div {
            width: 90%;
            margin: 0 auto;
            text-align: center;

            img {
                max-width: 100%;
                max-height: 400px;
                border-radius: 60px;
            }
        }
    }

    .MidCvr, .LastCvr {
        margin: 20px 30px;

        .GName {
            font-size: u1.rem(22);
            font-weight: 700;
            margin: 0 0 10px;
            color: darken($color1, 60);
        }
        .GText {
            font-size: u1.rem(14);
            word-spacing: 2px;
            line-height: 1.35;
            color: darken($color1, 60);
        }
    }

    .LastCvr {
        padding: 50px 30px;
        margin: 60px 0 0;
        border-radius: 80px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #f7f8f7;

        .GName {
            font-size: u1.rem(28);
            margin: 0 0 20px;
        }
        .GBtn {
            margin: 20px 0 40px;
            padding: 10px 2px;

            > button {
                position: relative;
                padding: 20px 22px;
                background-color: $color1;
                border: 0;
                font-size: u1.rem(17);
                font-weight: 600;
                border-radius: 4px;
                box-shadow: 5px 5px 0 rgba(0,0,0,0.8);
                cursor: pointer;
                transition: all .3s ease-out, transform .8s ease-in-out;

                &:hover {
                    background-color: darken($color1, 1);
                    transform: translate(-3px, -3px);
                    box-shadow: 8px 8px 0 rgba(0,0,0,0.6);
                }
            }
        }

        .animate {
            position: relative;
            transform: translateY(80px);
            opacity: 0;
        }
    }
}