@forward '../../styles/globals/';
@use '../../styles/util/' as u1;

.test1 {
    @include u1.media(">=desktop") {
        background-color: yellow;

        &::after {
            content: "desktop"
        }
    }
    @include u1.media(">=tablet", "<desktop") {
        background-color: skyblue;

        &::after {
            content: "tablet"
        }
    }

    @include u1.media(">=phone", "<tablet") {
        background-color: aquamarine;

        &::after {
            content: "phone"
        }
    }
}

body {
    background-color: #f6bfa6 !important;
}
.AppMain {
    @include u1.block_display();

    .TopBar {
        display: flex;
    }
}